<div class="w-full flex gap-4 overflow-x-auto pb-4">
    <div class="flex" *ngIf="filteredPlanets.length > 0; else noResultsMessage">
        <div 
            *ngFor="let planet of filteredPlanets"
            class="mt-2 mr-4"
        >
            <div class="w-40 h-auto flex flex-col justify-center items-center gap-2">

                <!-- Planet Image -->
                <img 
                    *ngIf="planet.imagePath"
                    class="w-auto h-auto lg:w-44 lg:h-44 object-cover" 
                    [src]="planet.imagePath"
                    alt="{{ planet.name }}"
                    (error)="onImageError(planet)"
                />

                <p class="text-lg uppercase font-black">{{ planet.name }}</p>

            </div>
        </div>
    </div>

    <!-- No search results -->
    <ng-template #noResultsMessage>
        <div class="relative">
            <p class="absolute absolute-center text-4xl text-white">No Planet found</p>
            <img src="../../assets/images/black hole.webp" alt="No search result">
        </div>
    </ng-template>
    
</div>