.trapezoid-shape {
    -webkit-clip-path:polygon(0% 7%, 100% 0%,100% 100%,0% 90%);
    clip-path:polygon(0% 7%, 100% 0%,100% 100%,0% 90%);
}

.trapezoid-shape img {
    -webkit-clip-path:polygon(0% 7%, 100% 0%,100% 100%,0% 90%);
    clip-path:polygon(0% 7%, 100% 0%,100% 100%,0% 90%);
}