<div class="p-4 flex flex-col-reverse lg:grid lg:grid-cols-2 gap-4">
  <div>
    <div class="background-opacity p-4 rounded-md">

      <!-- Heading -->
      <h3 class="!font-black">CHARACTERS</h3>

      <!-- Persona card component -->
      <app-persona-card (personaSelected)="onPersonaSelected($event)"></app-persona-card>

    </div>

    <div class="background-opacity mt-4 p-4 rounded-md">

      <!-- Heading -->
      <h3 class="!font-black">PLANETS</h3>

      <!-- Search -->
      <app-search (searchChange)="onPlanetSearch($event)"></app-search>

      <!-- Planets list component -->
      <app-planets-list [searchTerm]="searchTerm"></app-planets-list>

    </div>
  </div>

  <!-- Persona details component -->
  <div class="background-opacity p-4 rounded-md">
    <app-persona-details *ngIf="selectedPersona" [persona]="selectedPersona"></app-persona-details>
  </div>
  
</div>