<div class="p-4 grid md:grid-cols-2">
  <div>
    <!-- Navigation Tabs Group -->
    <mat-tab-group backgroundColor="primary">

      <!-- Personas Tabs -->
      <mat-tab label="Personas">

        <!-- Persona card component -->
        <app-persona-card (personaSelected)="onPersonaSelected($event)"></app-persona-card>

      </mat-tab>

      <!-- Planets Tabs -->
      <mat-tab label="Planets">

        <!-- Planets list component -->
        <app-planets-list></app-planets-list>

      </mat-tab>

    </mat-tab-group>
  </div>
  <div>

    <!-- Persona details component -->
    <app-persona-details *ngIf="selectedPersona" [persona]="selectedPersona"></app-persona-details>
    
  </div>
</div>