<div class="w-full flex gap-4 overflow-x-auto pb-4">
    <div class="flex">
        <div 
            *ngFor="let persona of personas"
            (click)="showPersonaDetails(persona)" 
            class="mt-2 mr-4"
        >
            <div class="w-40 h-auto border-2 border-solid border-gray-500 rounded-md" [ngClass]="{ 'active-border': persona.isActive }">

                <!-- Persona Image -->
                <img 
                    class="w-40 h-52 object-cover" 
                    [src]="persona.imagePath" 
                    alt="{{ persona.name }}"
                    (error)="onImageError(persona)"
                    matTooltip="{{ persona.name }}"
                >
                
            </div>
        </div>
    </div>
</div>