@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html { min-height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background: url(../src/assets/images/yoda.jpg); 
    background-size: cover;
    min-height: 100vh;
}

p, h1, h2, h3, span {
    color: aliceblue;
    margin: 0!important;
}

::-webkit-scrollbar {
    height: 5px;
    width: 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.background-opacity {
    background-color: rgba(0, 0, 0, 0.5);
}

.absolute-center {
    top:       50%;
    left:      50%;
    transform: translate(-50%);
}

.brown-gray {
    background: rgb(91,91,91);
    background: linear-gradient(90deg, rgba(91,91,91,1) 10%, rgba(94,47,0,1) 100%);
}

.auburn-white {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(94,47,0,1) 100%);
}

.slider-arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}